<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <h3 class="lead">
      Description
    </h3>
    <blockquote cite="{{ site.url }}">
      Join Lisa and Ray as they embark on their midlife hustle adventures.
      They share the obstacles they face, the triumphs they experience, and their ongoing journey towards financial freedom.
      Learn from their success, laugh at their mistakes, and be entertained and informed by this honest and fun couple!
    </blockquote>
    <h3 class="lead">
      Schedule
    </h3>
    <blockquote cite="{{ site.url }}">
      We try to record at least weekly and include bloopers reels on YouTube just for fun.
    </blockquote>
  </div>
</section>